@{
    ViewBag.Title = "Вопрос-ответ";
}

@Html.MvcSiteMap().SiteMapPath()
<!-- Категории обращения -->
<link href="~/new_design/plugins/footable/css/footable.core.css" rel="stylesheet">

<div id="questionsContainer">
    @*@Html.Action("PartialTableCaseCategory", "Reference")*@
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("PartialTableQuestions", "Reference")',
                success: function (data) {
                    $('#questionsContainer').html(data);
                }
            })
        });
    </script>
    <!--Категории обращения-->
    <script src="~/new_design/plugins/footable/js/footable.all.min.js"></script>
}