<div class="topbar">
    <div class="topbar-left">
        <div class="text-center">
            <a href="/" class="logo">
                <i class="icon-c-logo"> <img src="~/img/logo.png" height="36"> </i>
                <span><img src="~/img/logo.png" height="36" style="margin-right:5px; left:-7px; position:relative"> Центр обращений</span>
            </a>
        </div>
    </div>
</div>