@model ReceptionCentreNew.Data.Context.App.SprEmployeesDepartment
<script>
    $(document).ready(function () {
        $(".select2-nosearch").select2();
        $('#AddDepartmentForm').validate();
    });
</script>
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-0">Добавление отдела</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="AddDepartmentForm" class="form-horizontal">
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.LabelFor(model => model.DepartmentName, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.DepartmentName, new Dictionary<string, object> { { "class", "form-control required" }, { "placeholder", Html.DisplayNameFor(model => model.DepartmentName) } })
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="button" id="saveButton" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script> 
    $("#saveButton").click(function () {
        $.ajax({
            type: "POST",
            url: "/Reference/SubmitDepartmentSave",
            data: $("#AddDepartmentForm").serialize(),
            success: function (response) {
                // Handle success response
                $('#newModal').modal('hide');
                successAdd();
            },
            error: function () {
                // Handle error
            }
        });
    });
</script>