 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/img/ico.png">
    <link rel="stylesheet" href="~/css/access-dineded.css" asp-append-version="true">
</head> 
<body>  
    <div class="lock"></div>
    <div class="message">
        <h1>Доступ к этой странице ограничен</h1>
    </div> 
</body>
</html>
