@{
    ViewBag.Title = "История изменений";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--  История изменений -->
<link href="~/new_design/plugins/footable/css/footable.core.css" rel="stylesheet">

<div class="row m-t-15 m-b-15">
    <div class="col-sm-12">
        @* @Html.MvcSiteMap().SiteMapPath() *@
    </div>
</div>

<div id="changeLogsContainer"> 
</div>
@section scripts{
    <script>
        
        $.ajax({
            url: '@Url.Action("PartialTableChangeLogs", "System")',
            type: 'Post',
            data: { search: $('#searchTextChangeLogs').val() },
            success: function (data) {
                $('#changeLogsContainer').html(data);
            }
        });

         $(document).on('change', '#searchTextChangeLogs', function () {
             $.ajax({
                 url: '@Url.Action("PartialTableChangeLogs", "System")',
                 type: 'Post',
                 data: { search: $(this).val() },
                 success: function (data) {
                     $('#changeLogsContainer').html(data);
                 }
             });
        });
    </script>
}
