@model List<SprQuestion>

<form>
    <div class="accordion" id="accordion">
        @foreach (var item in Model)
        {
            <div>
                <div id="heading-@(Model.IndexOf(item))" class="accordion-head">
                    <div class="checkbox checkbox-success checkbox-single">
                        <input type="checkbox" name="questions_id" value="@item.Id">
                    </div>
                    <a href="#collapse-@(Model.IndexOf(item))" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-@(Model.IndexOf(item))">
                        @item.Question
                    </a>
                </div>
                <div id="collapse-@(Model.IndexOf(item))" class="accordion-content collapse" aria-labelledby="heading-@(Model.IndexOf(item))" data-parent="#accordion">
                    @Html.Raw(item.Answer)
                </div>
            </div>
        }
    </div>
</form>