@model List<SprSurveyQuestion>

@if (Model.Any())
{
    <h5 class="card-header">Опрос</h5>
    <div class="card-body custom-scrollbar">
        <ul class="quiz-list dots-list">
            @{int i = 0; }
            @foreach (var item in Model)
            {
                <li> 
                    <a href="#opros@(Model.IndexOf(item))" class="">@item.Question</a>
                </li>
            }
        </ul>

        <div class="quiz-container d-none ">
            <div class="mb-3 d-flex justify-content-between">
                <button type="button" class="btn btn-purple btn-return mr-4 waves-effect waves-light">Вернуться к списку</button>
                <button type="button" class="btn btn-inverse btn-previous mr-4 waves-effect waves-light">Предыдущий вопрос</button>
                <button type="button" class="btn btn-primary btn-next ml-auto waves-effect waves-light">Следующий вопрос</button>
                <button type="button" class="btn btn-success btn-submit waves-effect waves-light" id="call-survey-save">Сохранить</button>
            </div>
            <div class="quiz mb-4 custom-scrollbar">
                @foreach (var item in Model)
                {
                    <form>
                        <div class="slide">
                            <h5 class="question">@item.Question</h5>
                            <div class="answers">
                                @if (item.SprSurveyAnswer != null)
                                {
                                    foreach (var answer in item.SprSurveyAnswer)
                                    {
                                        if (answer.IsRemove!=true)
                                        {
                                            <div class="radio radio-info">
                                                <label>
                                                    <input type="radio" name="survey_answer_id" value="@answer.Id"> @answer.Answer
                                                </label>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
        <div class="results d-none"></div>
    </div>
}