@model IEnumerable<DataEmployeesNotification>
@{
    ViewBag.Title = "Уведомления";
}

<!-- Все оповещения -->
<link href="~/new_design/plugins/footable/css/footable.core.css" rel="stylesheet">

@Html.MvcSiteMap().SiteMapPath()

<div class="card-box p-3">
    @using (Ajax.BeginForm("PartialTableNotifications", "Notification", null, new AjaxOptions { UpdateTargetId = "notificationsTableContainer", LoadingElementId = "loadingAjax" }, new { @class = "form-horizontal" }))
    {
        <div class="collapse show" id="collapseExample" style="">
            <div class="row p-l-r-10">
                <div class="form-group col-sm-4">
                    <label class="font-12 text-muted p-t-0 m-b-0">Период</label>
                    @Html.DropDownList("period", new SelectList(new List<SelectListItem>
                                               { new SelectListItem {Text = "Сегодня", Value = "1"},
                                                   new SelectListItem {Text = "Неделя", Value = "2"},
                                                   new SelectListItem {Text = "Месяц", Value = "3"},
                                                   new SelectListItem {Text = "Год", Value = "4"},
                                               }, "Value", "Text"), "Все", new Dictionary<string, object> { { "class", "form-control select2-nosearch" } })
                </div>
                <div class="form-group col-sm-4">
                    <label class="font-12 text-muted p-t-0 m-b-0">Тип уведомления</label>
                    @Html.DropDownList("sprTypeNotificationId", ViewBag.SprTypeNotification as SelectList, "Все", new Dictionary<string, object> { { "class", "form-control select2-nosearch" } })
                </div>
                <div class="form-group col-sm-4">
                    <label class="font-12 text-muted p-t-0 m-b-0">Активные / неактивные</label>
                    @Html.DropDownList("IsActive", new SelectList(new List<SelectListItem>
                                   { new SelectListItem {Text = "Да", Value = "true", Selected=true},
                                       new SelectListItem {Text = "Нет", Value = "false"}
                                   }, "Value", "Text", "true"), "Все", new Dictionary<string, object> { { "class", "form-control select2-nosearch" } })
                </div>
            </div>
            <hr class="m-t-10 m-b-10" />
        </div>
        <div class="row align-items-center">
            <div class="col">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                    <i class="ti-arrow-circle-up font-18 vertical-middle mr-1 collapse-state-active"></i>
                    <span class="hide-phone vertical-middle collapse-state-active">Свернуть поиск</span>
                    <i class="ti-arrow-circle-down font-18 vertical-middle mr-1 collapse-state-collapsed"></i>
                    <span class="hide-phone vertical-middle collapse-state-collapsed">Развернуть поиск</span>
                </button>
            </div>
            <div class="col text-right">
                <button id="button_find_notifications" class="btn btn-primary waves-effect waves-light" type="submit"><i class="ion-ios7-search-strong m-r-5"></i> Найти</button>
            </div>
        </div>
    }
</div>
<div id="notificationsTableContainer">
    @*@Html.Action("PartialTableNotifications", "Notification", new { IsActive=true})*@
</div>
@section scripts {
    <script>
    $(document).ready(function () {
        $(".select2").select2();
        $('#button_find_notifications').click();
    });

    </script>
    <!-- Все звонки -->
    <script src="~/new_design/plugins/footable/js/footable.all.min.js"></script>
}

