@{
    ViewBag.Title = "Количество звонков";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/new_design/plugins/Charts/css/c3.css" rel="stylesheet" />
@Html.MvcSiteMap().SiteMapPath()
<div class="card-box">
    <div id="result">
        <div id="chart" style="height: 400px;"></div>
    </div>
</div>
@section scripts{
    <script src="~/plugins/print/printThis.js"></script>
    <script src="~/new_design/plugins/Charts/js/c3.js"></script>
    <script src="~/new_design/plugins/Charts/js/d3.v3.min.js"></script>
    <script>
    $(document).ready(function () {        
        $.ajax({
            url: '@Url.Action("AppealsCallResult", "Statistics")',
            type: 'POST',
            success: function (data) {
                var jsonn = JSON.parse(data);
                GenerateChart('#chart', jsonn, 'bar', { "out_count_call_incoming": "Входящие", "out_count_call_outgoing": "Исходящие", "out_count_call_missed": "Пропущенные" }, ['out_count_call_incoming', 'out_count_call_outgoing', 'out_count_call_missed' ], "Месяцы", "", false);
            }
        });
    });

    var chart;
    function GenerateChart(element, data, type_chart, names, key_values, edizmX, edizmY, transform, rotate) {
        if (transform != true) {
            chart = c3.generate({
                bindto: element,
                //size: { height: 300 },
                zoom: { enabled: false },
                data: {
                    json: data,
                    type: type_chart,
                    labels: true,
                    names: names,
                    keys: { x: "out_date", value: key_values },
                },
                axis: {
                    x: { type: 'category', label: { text: edizmX, position: 'outer-right' } },
                    y: { label: { text: edizmY, position: 'outer-top' } },
                    rotated: rotate
                },
                grid: { x: { show: false }, y: { show: true } }
            });
        }
        else {
            chart.transform(type_chart);
        }
    }

    function printTable() {
        $('#result').printThis({
            debug: false,
            importCSS: false,
            importStyle: false,
            printContainer: true,
            loadCSS: "Content/new_design/css/new_print.css",
            pageTitle: "",
            removeInline: false,
            printDelay: 333,
            header: null,
            formValues: true
        });
    }
    </script>
}