@model ReceptionCentreNew.Data.Context.App.SprEmployeesRoleJoin

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-0">Добавление роли</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="addEmployeeRole" class="form-horizontal">
                <div class="form-group form-group-sm">
                    <div class="row">
                        <label class="col-md-4 control-label text-right">Роль</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.SprEmployeesRoleId, ViewBag.EmployeeRoles as SelectList, new Dictionary<string, object> { { "class", "form-control select2-nosearch" }, { "data-style", "btn-white btn-sm" } })
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="button" id="saveButton" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $(document).ready(function () {
        $(".select2-nosearch").select2();
    });
    $("#saveButton").click(function () {
        $.ajax({
            type: "POST",
            url: "/Reference/SubmitEmployeeRoleSave",
            data: $("#addEmployeeRole").serialize(),
            success: function (response) {
                // Handle success response
                $('#newModal').modal('hide');
                successAdd();
            },
            error: function () {
                // Handle error
            }
        });
    });
</script> 