@model IEnumerable<DataAppealMessage>
@{
    ViewBag.Title = "СМС";
}
<script src="~/plugins/select2/js/select2.full.min.js"></script>
 
<div class="card-box m-t-10 p-t-10 p-b-10">
    <form class="form-horizontal" id="SmsForm">
        <div class="collapse in" id="collapseExample" style="">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-sm form-actions m-b-0">
                        <div class="row p-l-r-10">
                            <div class="col-md-4 m-b-10">
                                <label class="font-12 text-muted p-t-0 m-b-0">Сотрудник</label>
                                @Html.DropDownList("sprEmployeeId", ViewBag.SprEmployees as SelectList, "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                            </div>
                            <div class="col-md-4 m-b-10">
                                <label class="font-12 text-muted p-t-0 m-b-0">Период</label>
                                @Html.DropDownList("period", new SelectList(new List<SelectListItem>
                                { new SelectListItem {Text = "Сегодня", Value = "1"},
                                new SelectListItem {Text = "Неделя", Value = "2"},
                                new SelectListItem {Text = "Месяц", Value = "3"},
                                new SelectListItem {Text = "Год", Value = "4"},
                                }, "Value", "Text"), "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                            </div>
                            <div class="col-md-4 m-b-10">
                                <label class="font-12 text-muted p-t-0 m-b-0">Тип</label>
                                @Html.DropDownList("type", new SelectList(new List<SelectListItem>
                                { new SelectListItem {Text = "Входящие", Value = "2"},
                                new SelectListItem {Text = "Исходящие", Value = "1"}
                                }, "Value", "Text"), "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-t-10 m-b-10" />
        </div>


        <div class="row">
            <a href="#" class="collapse-toggle__ctr collapse-toggle__ctr_utility col-sm-4" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <!-- Collapsed state -->
                <span class="collapse-toggle__state _collapsed">
                    <i class="ti-arrow-circle-down"></i>
                    <span class="collapse-toggle__state-title collapse-toggle__state-title_utility">Развернуть фильтр</span>
                </span> <!-- Active (open) state -->
                <span class="collapse-toggle__state _active">
                    <i class="ti-arrow-circle-up"></i>
                    <span class="collapse-toggle__state-title collapse-toggle__state-title_utility">Свернуть фильтр</span>
                </span>
            </a>
            <div class="col-sm-8 action-btns text-right">
                <button onclick="Search()" class="btn btn-primary waves-effect waves-light" type="button">
                    <i class="ion-ios7-search-strong m-r-5"></i>
                    Найти
                </button>
            </div>
        </div>
    </form>
</div>
<div id="messageTableContainer">
    <div class="alert alert-default">
        <span style="color: #00545c;"><strong><i class="icon-info"></i></strong> Воспользуйтесь поиском для отображения.</span>
    </div>
</div>
<script>
    function Search() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PartialTableSms", "Sms")',
            data: $("#SmsForm").serialize(),
            success: function (data) {
                $('#messageTableContainer').html(data);
            }
        });
    }
    $(document).ready(function () {
        $(".select2").select2();
    });
</script>

