@page
@model LoginModel
@{
    ViewData["Title"] = "Вход в личный кабинет";
}

<div class="animationload">
    <div class="loader"></div>
</div>
<div class="account-pages"></div>
<div class="login_background"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="card-box">
        <div class="panel-heading">
            <h3 class="text-center text-white"><strong>АИС "Центр обращений"</strong></h3>
        </div>
        <div class="panel-body">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input asp-for="Input.Email" class="form-control input-lg" placeholder="Логин" />
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        <input asp-for="Input.Password" class="form-control input-lg" autocomplete="current-password" aria-required="true" placeholder="Пароль" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-inverse btn-lg btn-block text-uppercase waves-effect waves-light" style="border:none!important; background-color:#733d2b!important" type="submit">ВОЙТИ</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 