@model ReceptionCentreNew.Data.Context.App.SprSurveyQuestion

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-0">Изменение вопроса</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="EditQuestionForm" class="form-horizontal">
                <input type="hidden" asp-for="Id" />
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.LabelFor(model => model.Question, new Dictionary<string, object> { { "class", "col-md-2 control-label text-right" } })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Question, new Dictionary<string, object> { { "class", "form-control required" }, { "placeholder", Html.DisplayNameFor(model => model.Question) } })
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.LabelFor(model => model.CommenttModify, new Dictionary<string, object> { { "class", "col-md-2 control-label text-right" } })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.CommenttModify, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", Html.DisplayNameFor(model => model.CommenttModify) } })
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="button" id="saveButton" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $("#saveButton").click(function () {
        $.ajax({
            type: "POST",
            url: "/Reference/SubmitSurveyQuestionSave",
            data: $("#EditQuestionForm").serialize(),
            success: function (response) {
                // Handle success response
                $('#newModal').modal('hide');
                successEdit() 
            },
            error: function () {
                // Handle error
            }
        });
        LoadTable();
    });
</script>