@{
    ViewBag.Title = "Тип обращения";
}
<!-- Тип обращения -->
<link href="~/new_design/plugins/footable/css/footable.core.css" rel="stylesheet">

<div id="caseTypeContainer">
    @*@Html.Action("PartialTableCaseType", "Reference")*@
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            LoadTable(false);
        });
        function LoadTable(isRemove) {
            $.ajax({
                type: 'POST',
                data: { isRemove: isRemove },
                url: '@Url.Action("PartialTableCaseType", "Reference")',
                success: function (data) {
                    $('#caseTypeContainer').html(data);
                }
            })
        }

    </script>
    <!--Тип обращения-->
    <script src="~/new_design/plugins/footable/js/footable.all.min.js"></script>
}