@model SprType
<script>
    $(document).ready(function () {
        $('#Form').validate();
    });
</script>
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-0">Изменение типа обращения</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="Form" class="form-horizontal">
                <input type="hidden" asp-for="Id"/>
                <div class="form-group form-group-sm">
                    <div class="row">
                        <label asp-for="TypeName" class="col-md-4 control-label text-right"></label>
                        <div class="col-md-6">
                            <input asp-for="TypeName" class="form-control required" placeholder="@Html.DisplayNameFor(model => model.TypeName)" />
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="row">
                        <label asp-for="CommenttModify" class="col-md-4 control-label text-right"></label>
                        <div class="col-md-6">
                            <input asp-for="CommenttModify" class="form-control" placeholder="@Html.DisplayNameFor(model => model.CommenttModify)" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="Cancel()" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="button" onclick="Save()" id="saveButton" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script> 
    function Save() {
        $.ajax({
            type: "POST",
            url: "/Reference/SubmitCaseTypeSave",
            data: $("#Form").serialize(),
            success: function () {
                $('#newModal').modal('hide');
                $('#newModal').html('');
                successEdit();
                LoadTable(false);
            }
        });
    }

    function Cancel() {
        $('#newModal').modal('hide');
        $('#newModal').html('');
    }
</script>