@model IEnumerable<ReceptionCentreNew.Domain.Concrete.spr_question>
@{
    ViewBag.Title = "Вопрос-ответ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.MvcSiteMap().SiteMapPath()

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row no-gutters">
                <div class="col-sm-3">
                    <ul class="nav docs-tabs-vertical">
                        @{ int i = 0;}
                        @foreach (var item in Model)
                        {
                            <li class="nav-item">
                                <a href="#question-tab-@{++i;<text>@i</text>}" data-toggle="tab" aria-expanded="true" class="nav-link @{if (i == 1) { <text>active</text> }}">
                                    <i class="md md-help ml-2 mr-3"></i>
                                    <span class="d-block">@item.question</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="tab-content col-7 pl-4 bx-shadow-none">
                    <h4 class="text-dark header-title mt-0">Ответ</h4>
                    @{ int j = 0;}
                    @foreach (var item in Model)
                    {
                        <div class="tab-pane @{if (j == 0) { <text>active</text> }}" id="question-tab-@{++j;<text>@j</text>}">
                            @if(item.answer != null)
                            {@Html.Raw(item.answer)}
                            else
                            {<p class="text-muted">Нет ответа</p>}
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>