@{
    ViewBag.Title = "Отчеты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row m-t-20">
    <div class="col-lg-9 col-md-8">
        <div class="card-box" id="report-main-content">
        </div>
    </div>
    @*<div class="col-md-4 col-lg-3">
        <div class="card-box">
            <h4><b>Реестры</b></h4>
            <a class="report-title-box" data-report-url="Report_Appeals">
                Реестр обращений
            </a>
            <a class="report-title-box" data-report-url="Report_Calls">
                Реестр звонков
            </a>
            <br />
            <h4><b>Статистика</b></h4>
            <a class="report-title-box" data-report-url="Statistics_Appeals">
                Статистика обращений
            </a>
            <a class="report-title-box" data-report-url="Statistics_Calls">
                Статистика звонков
            </a>

            <br />
            <h4><b>Отчет по категориям</b></h4>
            <a class="report-title-box" data-report-url="ReportCategory">
                Отчет по категориям
            </a>
            <a class="report-title-box" data-report-url="ReportTreatment">
                Отчет по предмету обращения
            </a>
        </div>
    </div>*@
</div>

@section scripts {
    <script src="~/Content/plugins/print/printThis.js"></script>
    <script>
        $('.report-title-box').click(function () {

        });
        $(function () {
            $('.report-title-box:first').click();
        });
        $(document).on('click', '.report-title-box', function (event) {
            event.preventDefault();
            event.stopPropagation();
            var $this = $(this);
            var $url = $this.data('reportUrl')
            var $loader = '<div class="form-content default"><div class="load-container load7"><div class="loader-form">Loading...</div></div></div>';

            $.ajax({
                type: 'GET',
                data: { IsMainRequest: true },
                url: '/Report/' + $url,
                beforeSend: function () {
                    $('.report-title-box').removeClass('active');
                    $this.addClass('active');
                },
                success: function (content) {
                    $('#report-main-content').html(content);
                }
            });
        });

        $(document).on('click', '[data-report-print]', function (event) {
            event.preventDefault();
            event.stopPropagation();
            $("#printable").printThis({
                debug: false,
                importCSS: true,
                importStyle: true,
                printContainer: true,
                loadCSS: "Content/css/print.css",
                pageTitle: "",
                removeInline: false,
                printDelay: 333,
                header: null,
                formValues: true
            });
        });
    </script>
}