@model ReceptionCentreNew.Models.Report_Parameters
@{
    ViewBag.Title = "Отчет по типу обращения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/new_design/plugins/footable/css/footable.core.css" rel="stylesheet" />
@Html.MvcSiteMap().SiteMapPath()
<div class="card-box">
    <h4>Отчет по предмету обращения</h4>
    <div class="card-box m-t-10 p-t-10 p-b-10">
        @using (Ajax.BeginForm("ReportTreatmentTable", "Report", null, new AjaxOptions { UpdateTargetId = "categoryTableContainer", LoadingElementId = "loadingAjax", OnSuccess = "$('.btn-print').show();" }, new { @class = "form-horizontal" }))
        {
            <div class="collapse show" id="collapseExample" style="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group-sm form-actions m-b-0">
                            <div class="row p-l-r-10">
                                <div class="col-md-3 m-b-10">
                                    <label class="font-12 text-muted p-t-0 m-b-0">Период</label>
                                    @Html.DropDownList("period", new SelectList(new List<SelectListItem>
                               { new SelectListItem {Text = "Сегодня", Value = "1"},
                                   new SelectListItem {Text = "Неделя", Value = "2"},
                                   new SelectListItem {Text = "Месяц", Value = "3"},
                                   new SelectListItem {Text = "Год", Value = "4"},
                               }, "Value", "Text"), "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-t-10 m-b-10" />
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-link text-left col-sm-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                        <i class="ti-arrow-circle-up font-18 vertical-middle mr-1 collapse-state-active"></i>
                        <span class="hide-phone vertical-middle collapse-state-active">Свернуть фильтр</span>
                        <i class="ti-arrow-circle-down font-18 vertical-middle mr-1 collapse-state-collapsed"></i>
                        <span class="hide-phone vertical-middle collapse-state-collapsed">Развернуть фильтр</span>
                    </button>
                </div>
                <div class="col text-right">
                    <button type="submit" class="btn btn-default waves-effect waves-light">
                        <i class="ion-ios7-search m-r-5"></i>
                        Найти
                    </button>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"> Действия <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li class="dropdown-item"><a onclick="printTable()"><i class="fa fa-print m-r-5"></i> Печать</a></li>
                            <li class="dropdown-item"><a onclick="downloadTableExcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Скачать в Excel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="categoryTableContainer">

    </div>
</div>
@section scripts{
    <script src="~/Content/new_design/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/Content/plugins/print/printThis.js"></script>
}
<script>

    function printTable() {
        $('#printable').printThis({
            debug: false,
            importCSS: false,
            importStyle: false,
            printContainer: true,
            loadCSS: "Content/new_design/css/new_print.css",
            pageTitle: "",
            removeInline: false,
            printDelay: 333,
            header: null,
            formValues: true
        });
    }

    function downloadTableExcel() {
        location.href = '@Url.Action("DownloadExcelReportTreatment", "Report")?' + $('.form-horizontal').serialize();
    }
</script>
