@{
    ViewBag.Title = "Сложность обращения";
}

<!-- Сложность обращения -->
<link href="~/new_design/plugins/footable/css/footable.core.css" rel="stylesheet">

<div id="caseTypeDifficultyContainer">
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            LoadTable(false);
        });
        function LoadTable(isRemove) {
            $.ajax({
                type: 'POST',
                data: { isRemove: isRemove },
                url: '@Url.Action("PartialTableCaseTypeDifficulty", "Reference")',
                success: function (data) {
                    $('#caseTypeDifficultyContainer').html(data);
                }
            })
        }
    </script>
    <!--Сложность обращения-->
    <script src="~/new_design/plugins/footable/js/footable.all.min.js"></script>
}