@model SprTypeDifficulty

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-0">Добавление типа сложности обращения</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="Form" class="form-horizontal">
                <div class="form-group form-group-sm">
                    <div class="row">
                        <label for="TypeName" class="col-md-4 control-label text-right"></label>
                        <div class="col-md-6">
                            <input asp-for="TypeName" class="form-control required" placeholder="TypeName" />
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="row">
                        <label for="CountDay" class="col-md-4 control-label text-right"></label>
                        <div class="col-md-6">
                            <input asp-for="CountDay" class="form-control required" placeholder="CountDay" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="Cancel()" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="button" onclick="Save()" id="saveButton" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div>
</div>
<script> 
    function Save() {
        $.ajax({
            type: "POST",
            url: "/Reference/SubmitCaseTypeDifficultySave",
            data: $("#Form").serialize(),
            success: function () {
                $('#newModal').modal('hide');
                $('#newModal').html('');
                successAdd();
                LoadTable(false);
            }
        });
    }

    function Cancel() {
        $('#newModal').modal('hide');
        $('#newModal').html('');
    }
</script>